.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d );
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
}

.header__navbar-language:hover .header__navbar-language-list {
    display: block;
}

.header__navbar-lang {
    text-decoration: none;
}

.header__navbar-lang:hover {
    opacity: 0.8;
}

.header__navbar-language-icon-world {
    color: var(--white-color);
    font-size: 1.6rem;
    margin-right: 4px;
}

.header__navbar-name-language {
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-language-icon-down {
    color: var(--white-color);
    font-size: 1.3rem;
    margin-left: 2px;
    
}

.header__navbar-language-list {
    content: "";
    position: absolute;
    display: block;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    width: 180px;
    z-index: 1;
    padding-left: 0;
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 5px #dfdfdf;
    animation: headerNotificationGrowth ease-in 0.2s;
    transform-origin: calc(100% - 32px) top;
    display: none;
}

.header__navbar-language-list::after {
    content: "";
    display: block;
    position: absolute;
    width: 54%;
    height: 10px;
    top: -8px;
    right: 0;
}

.header__navbar-language-list::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 8px;
    border-style: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    z-index: -1;
}

.header__navbar-language-item {
    padding: 12px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__navbar-language-item:hover {
    color: var(--primary-color);
    background-color: #fafafa;
    cursor: pointer;
}

.header__navbar-language-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-language-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    display: block;
    width: 56%;
    height: 8px;
    top: -8px;
    right: 0;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    z-index: 1;
    list-style: none;
    padding-left: 0;
    border-radius: 2px;
    width: 160px;
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #dfdfdf;
    display: none;
    animation: headerNotificationGrowth ease-in 0.2s;
    transform-origin: calc(100% - 32px) top;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 4px;
    cursor: pointer;
    z-index: -1;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 6px 16px;
    font-weight: 400;
}

.header__navbar-user-item a:hover {
    color: #38bdf8;
    background-color: #fafafa;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notification:hover .header__notification {
    display: block;
}

.header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    color: var(--white-color);
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-icon-link,
.header__navbar-item-link,
.header__navbar-item {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item-link:hover,
.header__navbar-icon-link:hover,
.header__navbar-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 4px;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.header__navbar-icon--margin {
    margin-right: 6px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    cursor: default;
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: 125%;
    left: 0;
    padding: 2px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: -12px;
    height: 30px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header notification  */
.header__notification {
    position: absolute ;
    top: 118%;
    right: 0;
    background-color: var(--white-color);
    width: 404px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotificationGrowth ease-in 0.2s;
    will-change: transform, opacity;
    display: none;
    z-index: 1;
}

.header__notification::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 4px;
    cursor: pointer;
}

.header__notification::after {
    content: "";
    position: absolute;
    width: 90px;
    right: 0;
    top: -12px;
    height: 20px;
    display: flex;
}

.header__notification-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notification-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
    user-select: none;
}

.header__notification-list {
    padding-left: 0;
}

.header__notification-item {
    display: flex;
}
.header__notification-footer--btn:hover,
.header__notification-item:hover {
    background-color: #f7f7f7;
}

.header__notification-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notification-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    
}

.header__notification-img {
    width: 48px;
    object-fit: contain;
}

.header__notification-info {
    margin-left: 8px;
}

.header__notification-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 6px;
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notification-descriotion {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
}

.header__notification-footer {
    display: flex;
}

.header__notification-footer--btn {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: 400;
}

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    position: absolute;
    content: "";
    left: 0;
    height: 60%;
    top: 50%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item:first-child .header__sort-link::before {
    border: none;
}

.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}


/* Athen modal */

.authen-form {
    width: 530px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.authen-form__container {
    padding: 0 32px;
}

.authen-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.authen-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.authen-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

/* .authen-form__form {

} */

.authen-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    opacity: 0.6;
    border: 2px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.authen-form__input:focus {
    border-color: #888;
}

.authen-form__aside {
    margin-top: 18px;
}

.authen-form__policy-text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.authen-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.authen-form__controls {
    margin-top: 90px;
    display: flex;
    justify-content:flex-end;
}

.authen-form__controls-back {
    margin-right: 8px;
}

.authen-form__socials {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.authen-form__socials-icon {
    font-size: 1.8rem;
}

.authen-form__socials-facebook {
    color: var(--white-color);
    background-color: #166fe5;
}

.authen-form__socials-facebook
.authen-form__socials-icon {
    color: var(--white-color);
}

.authen-form__socials-title {
    margin: 0 36px;
}

.authen-form__socials-google {
    color: #666;
    background-color: var(--white-color);
}

.authen-form__socials-icon--color {
    color: var(--primary-color);
}

.authen-form__help {
    display: flex;
    justify-content: flex-end;
}

.authen-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.authen-form__help-separate {
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.authen-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header-with-nav-mobile-tablet {
    display: none;
}

.header__nav-btn-icon {
    font-size: 28px;
    height: 28px;
    color: var(--white-color);
    padding: 2px 8px;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
    animation: fadeIn linear 0.2s;
}

.header__nav-mobile-tablet {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--white-color);
    z-index: 2;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.header__nav-list {
    list-style: none;
    padding: 55px 0 0 32px;
    margin: 0;
}

.header__nav-item-log {
    margin-top: 20px;
    
}

.header__nav-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 20px 0 20px 20px;

}

.header__nav-link:hover {
    background-color: #f0f0f0;
    color: #292929;
    border: 1px solid #f0f0f0;
    border-radius: 4px ;
}

.header__nav-icon {
    font-size: 16px;
    color: #757575;
    height: 2rem;
    width: 2rem;
    margin-right: 20px;
}

.header__nav-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.079);
}

.header__nav-mobile-tablet-close {
    position: absolute;
    top: 0px;
    right: 0px;
}

.header__nav-icon-close {
    font-size: 20px;
    padding: 20px 20px 12px;
    color: #757575;

}

.header__nav-mobile-tablet-checkbox:checked ~ .nav__overlay {
    display: block;
}

.header__nav-mobile-tablet-checkbox:checked ~ .header__nav-mobile-tablet {
    opacity: 1;
    transform: translateX(0%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.header__mobile-search {
    padding-right: 8px;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    width: 150px;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__logo-img {
    width:150px;
}

.header__search-navbar {
    flex: 1;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    flex: 1;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-list {
    line-height: 30px;
    height: 17px;
}

.header__search-item {
    font-size: 1.2rem;
    color: hsla(0,0%,100%,.9);
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}


.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 2px 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-list {
    cursor: default;
    z-index: 1;
    position: absolute;
    top: calc(100% + 4px);
    right: -2px;
    background-color: var(--white-color);
    width: 416px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    display: none;
    animation: headerNotificationGrowth ease-in 0.2s;
    will-change: transform, opacity;
    transform-origin: calc(100% - 32px) top;
}

.header__cart-heading {
    text-align: left;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    margin: 8px 0 8px 12px;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
    height: 42px
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multipl {
    font-size: 1rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}


.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: -23px;
    right: 2px;
    border-width: 14px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 60px 0 50px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-no-cart-img {
    display: none;
    width: 24%;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 16px;
    cursor: initial;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 6px;
    color: var(--primary-color);
    background-color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    top: -5px;
    right: -5px;
}

.header__search-selection {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection-icon {
    font-size: 1.4rem;
    color: #716f6f;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    height: 34px;
    width: 60px;
    margin-right: 3px;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__search-selection:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 130px;
    list-style: none;
    box-shadow: 0px 2px 2px 0px #dedbdb;
    padding-left: 0;
    padding-top: 4px;
    border-radius: 2px;
    animation: fadeIn ease-in 0.18s;
    display: none;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    display: block;
    left: 0;
    top: -10px;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:hover {
    cursor: pointer;
    background-color: #fffbfb;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item span {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 10px;
}

.header__search-option-item i {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 12px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #dfdfdf;
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}


.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.header__search-history-item {
    padding: 0 12px;
    height: 38px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* app__container */

.app__container {
    background-color: #F5F5F5;
    margin-top: var(--header-height);
}

.app__content {
    padding-top: 32px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}

.category-list {
    list-style: none;
    padding: 0 0 8px 0;
}

.category-item {
    position: relative;
}

.category-item::before{
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item-link {
    color: var(--primary-color);

}

.category-item-link {
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    padding: 8px 20px;
    color: var(--text-color);
    right: 0;
}

.category-item-link:hover {
    color: var(--primary-color);
}

/* Mobile-category */

.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    padding-left: 0;
    list-style: none;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n+1) .mobile-category__link {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n+2) .mobile-category__link {
    background-color: #76C9BD;
}
.mobile-category__item:nth-of-type(3n+3) .mobile-category__link {
    background-color: #88CF81;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    border-radius: 4px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}



/* home-filter */

.home-filter {
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 12px 22px;
    background-color: rgba(0, 0, 0, 0.03);
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;

}

.home-filter__btn-hover:hover {
    background-color: #fdfdfd;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 2px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    position: relative;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.home-product-item__name {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 8px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.home-product-item__price-old {
    color: #666;
    font-size: 1.4rem;
    margin-left: 10px;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1.1rem;
    transform: scale(0.7);
    transform-origin: right;
    color: #D5D5D5;
    margin: 1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 7px 10px 0;
    color: #868686;
    font-size: 1.2rem;
    font-weight: 200;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 1.2rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 56, 0.95);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 56, 0.95);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-size: 1.3rem;
    display: block;
    margin-top: 3px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
}

.home-product__pagination {
    margin: 50px 0 60px;
    padding-left: 0;
}

/* footer */
.footer {
    padding-top: 30px;
    background-color: #fdfdfd;
    border-top: 4px solid var(--primary-color);
}

.footer__heading-bottom {
    padding-bottom: 35px;
}

.footer__heading {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 18px;
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-item {
    margin: 11px 0;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.54);   
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}



.footer-item__icon {
    font-size: 1.7rem;
    color: #555;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 18px;
}

.footer__download-app-link {
    text-decoration: none;
}

.footer__bottom {
    background-color: #f5f5f5;
}

.footer__policy {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.footer__policy-item {
    padding: 0 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}

.footer__policy-item:last-child {
    border: none;
}

.footer__policy-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.54);
}

.footer__bottom-logos {
    display: flex;
    justify-content: center;
}

.footer__bottom-logo {
    margin: 0 20px;
}

.footer__bottom-logo1 {
    height: 45px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer__bottom-logo2 {
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-color-logo1 {
    display: block;
    background-image: url(https://webmedia.com.vn/images/2021/09/logo-da-dang-ky-bo-cong-thuong-mau-do.jpg);
}

.background-color-logo2 {
    display: block;
    background-image: url(https://sp-ao.shortpixel.ai/client/q_glossy,ret_img/https://lambanner.com/wp-content/uploads/2020/04/MNT-DESIGN-10-MEO-THIET-KE-LOGO-1130x570.jpg);
}

.footer__name-company {
    display: block;
    text-align: center;
    font-size: 1.3rem;  
    color: rgba(0, 0, 0, 0.54);
    margin: 10px 0 24px 0;
}

.footer__text {
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.2rem;  

}

.footer__text-bottom {
    padding-bottom: 37px;
}